.carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carouselBanner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carouselInner {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.carouselInnerBanner {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.carouselItem {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.carouselItemBanner {
  min-width: 100%;
  height: auto;
  position: relative;
}

.image {
  object-fit: contain;
}

.imageBanner {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .carouselBanner {
    max-width: 100%;
    margin: 0 auto;
  }

  .carouselItemBanner {
    max-width: 100%;
    margin: 0 auto;
  }

  .imageBanner {
    max-width: 75%;
    margin: 0 auto;
  }
}